.scheduleItem {
  
}

.scheduleItemContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	vertical-align: middle;
}

.opacity {
	opacity: 50%;
}

.scheduleItem__label {
	
}

.schedule__label_done {
	
}


.scheduleItem__time {
	
}

.scheduleItem__tags {
	flex-basis: 2;
	width: 30%;
}

.scheduleItem__delete {

}

.scheduleItem__description {
	flex-basis: 5;
	width: 50%;
	font-size: 16px;
	margin-left: 75px;
}