.navTasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 30%;
  margin: 20px 0 20px 20px;
}

.today, .myTasks, .deferredTasks {
  margin: 10px 0;
}


a {
  text-decoration: none;
}
