.mainCalendar {
  font-family: 'Cairo', sans-serif;
  height: 100%; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dayOfWeek {
  margin: 0;
}