.headerSchedule {
  display: flex;
  flex-direction: column;
  height: 40px;
  padding: 10px 10px 0 10px;
	color: #fff;
}
.itemsSchedule {
	height: 100%;
	background-color: #6d6d6d;
  display: flex;
  flex-direction: row;
	align-items: center;
	padding: 5px 10px;
	border-radius: 15px 15px 0 0;
}

.itemsSchedule__label {
	flex-basis: 3;
	width: 35%;
	text-align: left;
}

.itemsSchedule__time {
	flex-basis: 2;
	width: 20%;
	text-align: center;
}

.itemsSchedule__tags {
	flex-basis: 2;
	width: 30%;
	text-align: right;
}

input {
	background: transparent;
	font-size: 20px;
	color: #000;
	width: 80%;
	outline: none;
	border: none;
	border-bottom: 1.25px solid  #6d6d6d;
	width: 35%;
}

.itemsSchedule__delete {
	border: none;
  background-color: #6d6d6d;
  color: #6d6d6d;
  border-radius: 10px;
  font-size: 20px;
  font-size: 16px;
  width: 10%;
	margin-left: 5px;
}