
.navSettings {
  
}



.navTrashSet {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trash, .settings {
  
}

.login {
  height: 20%;
}

.navTasks {
  
}

.today, .myTasks {
  margin: 10px 0;
}

.login {
	
}