.avatarInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 20%;
  margin-left: 20px;
  margin-top: 20px;
}

img {
  height: 80px;
  width: auto;
  border-radius: 50%;
}