.loginForm {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.SignUpRegisterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background: transparent;
  font-size: 16px;
  color: #000;
  outline: none;
  border: none;
  border-bottom: 1.25px solid  #6d6d6d;
  width: 50%;
}

.cleateAcc {
  border: none;
  background-color: #8541f6;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  margin: 10px;
  width: 150px;
}

.signUpButton {
  border: none;
  background-color: #8541f6;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  margin: 10px;
  width: 150px;
}

.LoginRegisterContainer {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 30%;
  height: 65%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.registerInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background: transparent;
  font-size: 16px;
  color: #000;
  outline: none;
  border: none;
  border-bottom: 1.25px solid  #6d6d6d;
  width: 50%;
}

.registerButton {
  border: none;
  background-color: #8541f6;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  margin: 10px;
  width: 150px;
}

.goBackButton {
  border: none;
  background-color: #8541f6;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  margin: 10px;
  width: 150px;
}